<p-toast></p-toast>
<div class="col-12 h-screen flex justify-content-center align-items-center">
  <div class="col-4 pr-0 border-round-left-2xl shadow-4"
       style="background: #fffffe; height: 80vh;">
    <div class="border-round-left-2xl bg-image p-2" style="width: 100%; height: 100%; position: relative">
      <span class="tit1">怪客口碑</span>
      <span class="tit2">怪客口碑</span>
      <span class="title01" style="color:#fffffe;">怪客口碑</span>
    </div>
  </div>
  <div class="col-4 border-round-2xl shadow-4 flex justify-content-center align-items-center"
       style="background: #fffffe; height: 80vh; position: relative">
    <div class="border-round-3xl"
         style="background: #fffffe; height: 100%; width: 100%; position: absolute; right: 22px;"></div>
    <div class="col-10 flex flex-column align-items-center gap-5"
         style="z-index: 999">
      <div class="flex gap-4">
        <div class="flex flex-column align-items-center gap-3 p-3 surface-0 shadow-1 border-round icon-hover"
             (click)="adminLogin()">
          <p-avatar label="管" size="xlarge"></p-avatar>
          <span class="text-sm">管理者</span>
        </div>
        <div class="flex flex-column align-items-center gap-3 p-3 surface-0 shadow-1 border-round icon-hover"
             (click)="login()">
          <p-avatar label="使" size="xlarge"></p-avatar>
          <span class="text-sm">使用者</span>
        </div>
      </div>
      <form [formGroup]="login_form">
        <div class="flex flex-column gap-4">
      <span class="p-float-label w-15rem">
        <input formControlName="user_name"
               class="w-15rem" [style]="{color: '#232946'}" pInputText/>
        <label class="flex gap-2 align-items-center">
          <span class="text-xs pi pi-user"></span>
          帳號
        </label>
      </span>
        <span class="p-float-label w-15rem">
        <input formControlName="password"
               class="w-15rem" [style]="{color: '#232946'}" pInputText/>
        <label class="flex gap-2 align-items-center">
          <span class="text-xs pi pi-key"></span>
          密碼
        </label>
      </span>
        </div>
      </form>
      <div class="flex flex-column align-items-center gap-4">
        <button class="btn w-15rem" (click)="login()">登入</button>
        <span class="text-xs text-900">還沒有帳號嗎？<span class="reg" (click)="showRegister()"> 註冊</span></span>
      </div>
    </div>
  </div>
</div>

<p-dialog header="註冊" styleClass="flip animation-duration-500"
          [(visible)]="register"
          (onHide)="register_form.reset()"
          [modal]="true" [draggable]="false" [resizable]="false"
          [style]="{ width: '35vw' }">
  <form [formGroup]="register_form">
    <div class="col-12 flex flex-column align-items-center gap-5"
         style="z-index: 999">
      <div class="flex flex-column gap-2">
      <span class="mt-3 p-float-label w-15rem">
        <input formControlName="name"
               class="w-15rem" [style]="{color: '#232946'}" pInputText/>
        <label class="flex gap-2 align-items-center">
          <span class="text-xs fa-solid fa-signature"></span>
          姓名
        </label>
      </span>
        <p-message *ngIf="!register_form.controls['name'].value && requiredError"
                   severity="error" text="此欄位為必填"></p-message>
      </div>
      <div class="flex flex-column gap-2">
      <span class="p-float-label w-15rem">
        <input formControlName="user_name"
               class="w-15rem" [style]="{color: '#232946'}" pInputText/>
        <label class="flex gap-2 align-items-center">
          <span class="text-xs pi pi-envelope"></span>
          帳號信箱
        </label>
      </span>
        <p-message *ngIf="!register_form.controls['user_name'].value && requiredError"
                   severity="error" text="此欄位為必填"></p-message>
      </div>
      <div class="flex flex-column gap-2">
        <span class="p-float-label w-15rem">
          <p-password formControlName="password" [toggleMask]="true"
                      inputStyleClass="w-15rem"></p-password>
            <label class="flex gap-2 align-items-center">
              <span class="text-xs pi pi-key"></span>
              密碼
            </label>
        </span>
        <p-message *ngIf="!register_form.controls['password'].value && requiredError"
                   severity="error" text="此欄位為必填"></p-message>
      </div>
      <button class="btn w-15rem mt-3" (click)="registerSubmit()">註冊</button>
    </div>
  </form>
</p-dialog>

<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
      <div
        class="full-gradient-bg border-circle inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8"
      >
        <i class="pi pi-question text-5xl text-white"></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex align-items-center gap-2 mt-4">
        <p-button label="取消" (click)="cd.reject()"
                  styleClass="w-8rem danger-bg" severity="danger"></p-button>
        <p-button label="確定" (click)="cd.accept()"
                  styleClass="w-8rem full-gradient-bg"></p-button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
