<p-card styleClass="bg-c" [style]="{height: '82vh'}">
  <div class="flex flex-column gap-2 p-4 border-round gradient-bg overflow-y-auto inner_content" [style]="{height: '76vh'}">
    <div class="col-12">
      <span class="text-2xl text-white font-bold">帳號設定</span>
    </div>
    <div class="col-12">
      <span class="text-lg text-white font-bold">個人資料</span>
    </div>
    <div class="col-12">
      <div class="field">
        <label class="text-sm font-medium text-white">帳號（信箱）</label>
        <input value="Sien" class="w-full bg-blue-50" type="text" pInputText/>
      </div>
    </div>
    <div class="col-12">
      <div class="field">
        <label class="text-sm font-medium text-white">顯示名稱</label>
        <input value="Anya Forger" class="w-full bg-blue-50" type="text" pInputText/>
      </div>
    </div>
    <div class="col-12">
      <p-button label="保存設定"
                size="small"
                styleClass="full-gradient-bg w-full h-2rem border-none"></p-button>
    </div>
  </div>
</p-card>
