<!--<p-toolbar styleClass="p-2 bg-indigo-900 shadow-2"-->
<!--           [style]="{ 'background-image': 'linear-gradient(to right, #D27685, #9E4784, #66347F, #37306B)' }">-->
<p-toolbar styleClass="p-2 shadow-2 border-none">
  <ng-template pTemplate="start">
    <div class="flex align-items-center gap-2">
      <p-button label="文章生成" icon="text-500 text-sm pi pi-th-large" [text]="true"
                routerLink="/home" severity="help"
                styleClass="text-700 text-xs"></p-button>
      <p-button label="回文生成" icon="text-500 text-sm pi pi-th-large" [text]="true"
                routerLink="/reply" severity="help"
                styleClass="text-700 text-xs"></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="center">
  </ng-template>
  <ng-template pTemplate="end">
    <p-button label="220" icon="text-sm fa-solid fa-paw"
              [text]="true" size="small" severity="help"
              styleClass="text-sm mr-3"></p-button>
    <p-button [text]="true" size="small" severity="help" (click)="op.toggle($event)">
      <div class="flex align-items-center gap-2">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"/>
        <span class="text-xs font-bold text-700">Amy Elsner</span>
      </div>
    </p-button>
    <p-overlayPanel #op>
      <ng-template pTemplate="content">
        <div class="flex flex-column gap-2" [style]="{width: '20vw'}">
          <div class="flex align-items-center pr-4 pl-4 pt-2 pb-2 mt-3">
            <div class="mr-auto">
              <i class="text-sm fa-solid fa-paw mr-2"></i>
              <span class="text-sm font-medium">220</span>
            </div>
            <div class="flex justify-content-end">
              <p-button label="訂閱"
                        [rounded]="true" [raised]="true"
                        severity="help"
                        [style]="{height: '3vh', width: '7vw'}"
                        size="small" styleClass="text-xs"></p-button>
            </div>
          </div>
          <div class="styled-box flex align-items-center gap-2 pr-4 pl-4 pt-2 pb-2">
            <div class="flex align-items-center mr-auto gap-2">
              <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"/>
              <span class="text-xs font-bold text-700">Amy Elsner</span>
            </div>
            <div class="flex justify-content-end">
              <div class="text-xs font-medium p-2 border-round"
                   [style]="{background: 'rgba(51, 24, 107, 1)', color: '#E26EE5'}">Pro
              </div>
            </div>
          </div>
          <div class="styled-box flex align-items-center gap-2 pr-4 pl-4 pt-2 pb-2">
            <div class="w-1 text-center">
              <i class="text-sm fa-regular fa-user"></i>
            </div>
            <span class="text-sm">帳號/歷史紀錄</span>
          </div>
          <div class="styled-box flex align-items-center gap-2 pr-4 pl-4 pt-2 pb-2">
            <div class="w-1 text-center">
              <i class="fa-regular fa-credit-card"></i>
            </div>
            <span class="text-sm">訂閱方案</span>
          </div>
          <div class="styled-box flex align-items-center gap-2 pr-4 pl-4 pt-2 pb-2 mb-3" routerLink="/">
            <div class="w-1 text-center">
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </div>
            <span class="text-sm">登出</span>
          </div>
        </div>
      </ng-template>
    </p-overlayPanel>
  </ng-template>
</p-toolbar>
