::ng-deep {
  .p-inputtext {
    color: #FFF;
  }

  .p-dropdown .p-dropdown-trigger {
    background: transparent;
    color: #FFF;
    width: 3rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .p-slider .p-slider-range {
    background-color: rgba(10, 0, 99, 1);
  }

  .p-slider .p-slider-handle {
    height: 1.143rem;
    width: 1.143rem;
    background: #ffffff;
    border: 2px solid rgba(10, 0, 99, 1);
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  }

  .p-slider .p-slider-handle:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #EDE6ED;
  }

  .p-card .p-card-content {
    padding: 0;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 18, 43, 0.2);
  z-index: 1; /* 確保覆蓋在其他元素之上 */
}

.story-textarea {
  resize: none;
  overflow: auto;
  background: transparent;
  color: #000;
}

.output-textarea {
  width: 100%;
  height: 200px;
  border: none;
  resize: none;
  overflow: auto;
  background: transparent;
  color: #fff;
  line-height: 2;
}

.slider-container {
  position: relative;
  margin-top: 2.5rem;
}

.slider-label {
  position: absolute;
  top: -2.5rem; /* 調整label的垂直位置 */
  text-align: center;
  width: 4rem; /* 調整label的寬度 */
  background: #232946;
  color: #b8c1ec;
  border: 1px solid #121629;
  border-radius: 5px;
  padding: 5px;
}

.robot02 {
  position: absolute;
  width: 150px;
  right: 0;
  bottom: 0;
}

.dialog {
  position: relative;
  padding: 20px;
  width: 300px;
  height: 100px;
  background-image: url('/assets/img/ai_dialog.svg');
  background-repeat: no-repeat;
}

.dialog-text {
  top: 0;
  left: 0;
  position: absolute;
}

@media (max-width: 600px) {
  .title {
    width: calc(100% - 280px);
    right: 20px;
    top: 30px;
  }

  .robot01 {
    position: absolute;
    left: 10px;
    top: -40px;
    width: 200px;
  }
}

@media (max-width: 430px) {
  .robot01 {
    width: 160px;
  }
  .title {
    width: calc(100% - 210px);
    right: 35px;
    top: 30px;
  }
}
