::ng-deep {
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    padding: 0;
  }
}

.menu-item {
  color: #33415c;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 20px 12px 20px;
  border-radius: 6px;

  &:hover {
    background: linear-gradient(90deg, rgba(85, 114, 245, 0.5) 0%, rgba(62, 216, 221, 0.5) 100%);
    cursor: pointer;
  }

  &.active {
    color: #fff;
    background: linear-gradient(90deg, rgba(85, 114, 245, 1) 0%, rgba(62, 216, 221, 1) 100%);
  }
}
