<div class="flex flex-column gap-3 pr-2 overflow-y-auto inner_content border-round"
     style="height: 100%">
  <div *ngIf="page_loading" class="h-full flex justify-content-center align-items-center">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8"
                       animationDuration=".5s"></p-progressSpinner>
  </div>
  <ng-container *ngIf="!page_loading">
    <div class="flex flex-column lg:flex-row align-items-center bg-white border-round-xl gap-5 p-3">
      <p-avatar [label]="member.last_name"
                size="xlarge"
                [style]="{ 'background-color': '#2196F3', color: '#ffffff' }" shape="circle"></p-avatar>
      <div class="flex flex-column align-items-center gap-2 lg:align-items-start" style="width: 200px">
        <span class="font-medium text-lg">{{ member.name }}</span>
        <p-tag *ngIf="member.membership_type" [value]="member.membership_type"
               [style]="{background:member.membership_type === 'Silver' ? '#C0C0C0' : member.membership_type === 'Gold' ? '#FFD700' : '#CD7F32', color: '#000'}">
        </p-tag>
      </div>
      <div class="w-full lg:w-2">
        <p-divider layout="vertical" styleClass="hidden md:hidden lg:flex"></p-divider>
        <p-divider layout="horizontal" styleClass="flex md:flex lg:hidden" [align]="'center'"></p-divider>
      </div>
      <div class="grid">
        <div class="col-12 lg:col-6">
          <div class="flex gap-3">
            <span class="text-500" style="width: 80px;">信箱：</span>
            <span class="font-medium">{{ member.email }}</span>
          </div>
        </div>
        <div class="col-12 lg:col-6">
          <div class="flex gap-3">
            <span class="text-500" style="width: 80px;">電話：</span>
            <span class="font-medium">{{ member.phone }}</span>
          </div>
        </div>
        <div class="col-12 lg:col-6">
          <div class="flex gap-3">
            <span class="text-500" style="width: 80px;">加入時間：</span>
            <span class="font-medium">{{ member.createdAt | date: 'yyyy/MM/dd' }}</span>
          </div>
        </div>
      </div>
    </div>
    <p-tabView styleClass="border-round-top">
      <p-tabPanel header="產文紀錄">
        <div class="bg-white border-round-xl p-3 overflow-y-auto inner_content">
          <p-table [value]="output_history"
                   [scrollable]="true"
                   styleClass="mt-3">
            <ng-template pTemplate="body" let-output>
              <tr style="background: transparent">
                <td style="background: transparent">
                  <div class="flex gap-3 p-4 styled-box">
                    <p-avatar icon="fa-regular fa-newspaper"
                              styleClass="mr-2 full-gradient-bg text-white"
                              size="large"></p-avatar>
                    <div class="flex flex-column gap-2">
                  <span
                    class="w-5rem font-bold white-space-nowrap overflow-hidden text-overflow-ellipsis md:w-full lg:w-full">{{ output.title }}</span>
                      <span class="text-sm">{{ output.created_at | date: 'yyyy-MM-dd' }}</span>
                    </div>
                    <div class="flex align-items-center gap-4 ml-auto">
                      <p-chip styleClass="full-gradient-bg text-white font-bold">
                        <div class="flex align-items-center gap-2 p-2">
                          <i class="fa-regular fa-gem"></i>
                          <span>-10</span>
                        </div>
                      </p-chip>
                      <i class="fa-solid fa-angle-right"></i>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-tabPanel>
      <p-tabPanel header="儲值紀錄">
        <div class="bg-white border-round-xl p-3">
          <p-table [value]="trade_record">
            <ng-template pTemplate="body" let-trade>
              <tr>
                <td>
                  <div class="flex flex-column align-items-center p-3 styled-box md:flex-row lg:flex-row">
                    <div class="col-12 flex align-items-center gap-3 md:col-3 lg:col-3">
                      <p-avatar [icon]="getPaymentIcon(trade.method)"
                                styleClass="mr-2 full-gradient-bg text-white"
                                size="large"></p-avatar>
                      <span>{{ trade.method }}</span>
                    </div>
                    <div class="col-6 flex align-items-center md:col-3 lg:col-3">
                      <p-chip label="{{trade.status}}"
                              [styleClass]="getTradeStatusClass(trade.status)"></p-chip>
                    </div>
                    <div class="col-6 flex align-items-center md:col-3 lg:col-3">
                      <span class="font-bold">$ {{ trade.amount }}</span>
                    </div>
                    <div
                      class="col-6 flex flex-column gap-2 align-items-start justify-content-center md:col-3 lg:col-3">
                      <span class="font-bold">{{ trade.date | date:"MMM d , y" }}</span>
                      <span class="text-sm">{{ trade.date | date:"hh:mm a" }}</span>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-tabPanel>
    </p-tabView>
  </ng-container>
</div>
