<div class="flex flex-column gap-3 p-4 gradient-bg overflow-y-auto inner_content border-round"
     style="height: 100%">
  <div class="flex gap-5 align-items-center p-1 border-round-xl" style="background: #90caf9">
    <div *ngFor="let item of member_settings; let i = index"
         class="flex align-items-center menu-item border-round-xl text-center"
         (click)="toggleActive(i)"
         [ngClass]="{'active': isActive === i}">
      <span>{{ item.name }}</span>
    </div>
  </div>
  <ng-container *ngIf="isActive === 0">
    <div class="flex flex-column lg:flex-row align-items-center bg-white border-round-xl gap-5 p-3">
      <p-avatar [label]="member.last_name"
                size="xlarge"
                [style]="{ 'background-color': '#2196F3', color: '#ffffff' }" shape="circle"></p-avatar>
      <div class="flex flex-column align-items-center gap-2 lg:align-items-start" style="width: 200px">
        <span class="font-medium text-lg">{{ member.name }}</span>
        <p-tag [value]="member.membership_type"
               [style]="{background:member.membership_type === 'Silver' ? '#C0C0C0' : member.membership_type === 'Gold' ? '#FFD700' : '#CD7F32', color: '#000'}">
        </p-tag>
      </div>
      <div class="w-full lg:w-2">
        <p-divider layout="vertical" styleClass="hidden md:hidden lg:flex"></p-divider>
        <p-divider layout="horizontal" styleClass="flex md:flex lg:hidden" [align]="'center'"></p-divider>
      </div>
      <div class="grid">
        <div class="col-12 lg:col-6">
          <div class="flex gap-3">
            <span class="text-500" style="width: 80px;">信箱：</span>
            <span class="font-medium">{{ member.email }}</span>
          </div>
        </div>
        <div class="col-12 lg:col-6">
          <div class="flex gap-3">
            <span class="text-500" style="width: 80px;">電話：</span>
            <span class="font-medium">{{ member.phone }}</span>
          </div>
        </div>
        <div class="col-12 lg:col-6">
          <div class="flex gap-3">
            <span class="text-500" style="width: 80px;">加入時間：</span>
            <span class="font-medium">{{ member.join_date }}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isActive === 1">
    <div class="bg-white border-round-xl p-3">
    <p-table [value]="output_history"
             [scrollable]="true"
             styleClass="mt-3">
      <ng-template pTemplate="body" let-output>
        <tr style="background: transparent">
          <td style="background: transparent">
            <div class="flex gap-3 p-2">
              <p-avatar icon="fa-regular fa-newspaper"
                        styleClass="mr-2"
                        size="large"
                        [style]="{'background-color':'#b8c1ec', 'color': '#232946'}"></p-avatar>
              <div class="flex flex-column gap-2">
                  <span
                    class="w-13rem font-bold white-space-nowrap overflow-hidden text-overflow-ellipsis md:w-full lg:w-full">{{ output.title }}</span>
                <span class="text-sm">{{ output.created_at | date: 'yyyy-MM-dd' }}</span>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    </div>
  </ng-container>
  <ng-container *ngIf="isActive === 2">
    <span>789</span>
  </ng-container>
</div>
