<div class="flex flex-column gap-3 p-4 gradient-bg overflow-y-auto inner_content border-round"
     style="height: 100%">
  <span class="font-medium text-white text-4xl">會員管理</span>
  <div class="bg-white border-round-2xl shadow-1 text-center" style="width: 75px">
    <p-chip label="已啟用" styleClass="text-sm font-bold text-gradient"></p-chip>
  </div>
  <div class="p-3 bg-white border-round">
    <p-table [value]="member"
             [(selection)]="selectedMembers">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>姓名</th>
          <th>信箱</th>
          <th>電話</th>
          <th>加入時間</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-member>
        <tr>
          <td>
            <p-tableCheckbox [value]="member"></p-tableCheckbox>
          </td>
          <td>
            <div class="flex align-items-center gap-2">
              <p-avatar [label]="member.last_name"
                        [style]="{ 'background-color': '#2196F3', color: '#ffffff' }" shape="circle"></p-avatar>
              <span class="member-view"
                    (click)="goToMemberView(member.id)">{{ member.name }}</span>
              <p-tag [value]="member.membership_type"
                     styleClass="border-round-2xl"
                     [style]="{background:member.membership_type === 'Silver' ? '#C0C0C0' : member.membership_type === 'Gold' ? '#FFD700' : '#CD7F32', color: '#000'}">
              </p-tag>
            </div>
          </td>
          <td>{{ member.email }}</td>
          <td>{{ member.phone }}</td>
          <td>{{ member.join_date }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
