::ng-deep {

  .p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 700;
    color: #adb5bd;
    background: transparent;
    transition: box-shadow 0.2s;
  }
  .p-datatable .p-datatable-tbody > tr {
    background: transparent;
    color: #000;
    transition: box-shadow 0.2s;
  }
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #e5e5e5;
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
  }

  .member-silver {
    background: #C0C0C0;
  }

  .member-gold {
    background: #FFD700;
  }

  .member-bronze {
    background: #CD7F32;
  }

}

.member-view {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.active-item {
  background: #fff;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid var(--surface-400);
  color: var(--text-color-secondary);
  font-size: 14px;
  font-weight: 500;
  padding: 8px 18px 8px 18px;
  transition: all 0.1s ease-in-out;


  &:hover {
    transform: scale(0.9);
    cursor: pointer;
  }

  &.active {
    color: var(--blue-800);
    background: var(--primary-100);
  }
}
