::ng-deep{
  .p-card .p-card-content {
    padding: 0;
  }
}

.username {
  font-weight: bold;
}

.username:hover {
  text-decoration: underline;
  cursor: pointer;
}

.menu-item {
  font-weight: 500;
  padding: 6px;
  border-radius: 6px;

  &:hover {
    background: rgba(#EDE6ED, 0.8);
    cursor: pointer;
  }

  &.active {
    background: rgba(#EDE6ED, 0.8);
    font-weight: 700;
  }
}
