@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  margin: 0;
  background-image: url("assets/img/bg.png");
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.styled-box {
  .p-ink {
    background: rgba(#EDE6ED, 0.6);
  }
  &:hover {
    background: rgba(#EDE6ED, 0.6);
    cursor: pointer;
  }
}

.bg-c {
  background-color: rgba(10, 0, 99, 0.5);
}

.gradient-bg {
  background: linear-gradient(90deg, rgba(85, 114, 245, 0.5) 0%, rgba(62, 216, 221, 0.5) 100%);
  border: none;
}

.full-gradient-bg {
  background: linear-gradient(90deg, rgba(85, 114, 245, 1) 0%, rgba(62, 216, 221, 1) 100%);
  border: none;
}

.danger-bg {
  background: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
  border: none;
}

.text-gradient {
  background: linear-gradient(90deg, rgba(85, 114, 245, 1) 0%, rgba(62, 216, 221, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-inputtext {
  color: #FFF;
}

/*-------滾動條整體樣式----*/
.inner_content::-webkit-scrollbar {
  -webkit-appearance: none;
}

/*滾動條樣式*/
/*  用在overflow-y */
.inner_content::-webkit-scrollbar:vertical {
  width: 10px;
}

.inner_content::-webkit-scrollbar-thumb {
  border-radius: 999em;
  border: 4px solid transparent;
  background-color: #5ce2ff;
}

/*滾動條軌道樣式*/
.inner_content::-webkit-scrollbar-track {
  border-radius: 999em;
  background: rgba(10, 0, 99, 0.3);
}

.p-radiobutton .p-radiobutton-box {
  border: none;
  background: linear-gradient(90deg, rgba(85, 114, 245, 1) 0%, rgba(62, 216, 221, 1) 100%);
  width: 22px;
  height: 22px;
  color: #4b5563;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.title {
  width: 220px;
  position: absolute;
  right: 20px;
  top: 10px;
}

.robot01 {
  position: absolute;
  left: -10px;
  top: -40px;
  width: 250px;
  z-index: 1;
}

.icon-hover {
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(0.9);
    cursor: pointer;
  }
}
